@media (max-width: 550px) {
    .container {
        width: 400px;
    }

}

@media(max-width: 430px) {
    .container {
        width: 350px;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 17px;
    }
    .container {
        width: 300px;
    }
}